Screen{
    width: 100%;
    align-horizontal: center;
}

Button {
    margin: 1 2;
    background: lightskyblue;
    color: black;
    border: none;
    height: 25%;
    text-align: center;
}

Horizontal > VerticalScroll {
    width: 24;
}

.header {
    margin: 1 0 0 2;
    text-style: bold;
}